﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <div class="row">
        @foreach (var queryId in Model.ExampleQueries.Keys)
        {
            <div class="col-lg-1">
                <form asp-page-handler="runQuery" method="post">
                    <button>@(Model.QueryNames[queryId])</button>
                    <input type="hidden" name="id" value="@queryId"/>
                </form>
            </div>
        }
    </div>
    <h3 class="clearfix">@Model.Message</h3>
</div>